    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="about-section">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Me</h2>
<!--                    <p>Scientific, financial and engineering expertise, effectively communicated.<br> Interested in solving challenging problems that cross disciplines and borders.</p>
-->
                    <p> Physicist, risk quant, and just a guy from the islands. Deeply interested in understanding network structure as a causal factor in the dynamics of financial markets. I believe understanding and visualizing this structure is necessary to manage market, credit and liquidity risk. Broadly speaking, I want to apply this to the defensive side of trading and asset management. 
                    <br><br>
                    Otherwise open to pretty much any interesting problem, always looking for new insights, and novel takes on the world.</p>
                </div>
            </div>
        </div>
    </section>
