    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="about-section">
            <div class="row col-lg-8 col-lg-offset-2">
                    <h2>About Me</h2>
<!--                    <p>Scientific, financial and engineering expertise, effectively communicated.<br> Interested in solving challenging problems that cross disciplines and borders.</p>
-->
                    <p> Physicist, risk quant, and just a guy from the islands. 

<p>I do quantitative modeling, the design and implementation of predictive analytics systems, and occasional model validation. In larger projects I typically run a small team of specialists as technical lead. Passionate about solid research and its use in risk-aware investment strategy.

<p>Particularly interested in understanding network structure as a causal factor in the dynamics of financial markets: understanding and visualizing this structure is underestimated in managing market, credit and liquidity risk. Broadly speaking, I apply this thinking to the defensive side of trading and asset management.

                    <br><br>
                    Otherwise open to any interesting problem, always looking for new insights, and novel takes on the world. I'm also fascinated by languages in the broad sense, and speak:
                    <li> English and Dutch natively, </li>
                    <li> French and a little Spanish and Portuguese conversationally.</p>
            </div>
        </div>
    </section>
