    <!-- Download Section -->
    <section id="projects2" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
<!---                
                    <p><a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a></p>
-->
                <h2>Applied Projects</h2>
<!---                                <h4>Santa Fe Institute Working Papers</h4>
-->
                <h4>Finance Working Papers</h4>
                <div class="appl-list">
                    <li>Designed a risk-monitoring approach using floating risk-bandwidths linked to the market, providing a more dynamic picture of where any particular client’s portfolio stands in the current market regime, and also </li>
                    <li> Developed the modeling, and major parts of a full transaction-processing, analytics and reporting stack for an "Investment Game" our team organized for charity, mapping the 2014 World Cup to a complete securities market </li>
                </div>
                <h4>Other Work</h4>
                <div class="appl-list">
                    <li> Developed a scalable, high-performance, quantum-chemical NEGF transport code (<a href="http://kavli.tudelft.nl/">Physics PhD</a>), which was later integrated into a commercial quantum-chemistry modeling solution (<a href="http://www.scm.com">Postdoc at SCM</a>) </li>
                    <li> Designed a statistical methodology for validation of GSM-R network designs during field-trials on the high-speed railway networks in the Netherlands and Belgium, later also used in the design of a network in Tunisia (<a href="http://www.clearcincom.com">Consultant Radio Network Planner</a>) </li>
                </div>
                <h3>Languages</h3>
                <div class="appl-list">
                    <p>I'm fascinated by languages in the broad sense, and speak:
                    <li> English and Dutch natively, </li>
                    <li> French and a little Spanish and Portuguese conversationally, </li>
                    <li> Matlab, SAS and SQL professionally, and </li>
                    <li> Python and a bit of R privately. </li>
                    </p>
                </div>
<!--                         <ul>
                          {% for post in site.posts %}
                            <li>
                              <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                          {% endfor %}
                        </ul> -->
            </div>
        </div>
    </section>
