    <!-- Download Section -->
    <section id="projects1" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <h2>Academic Projects</h2>
                <h4>Post-Doc</h4>
                <div class="science-list">
                <p> My code was integrated into the commercially available <a href="http://www.scm.com/BAND_PeriodicDFT/">ADF / Band</a> quantum-chemistry code, which I worked on with Stan and Pier at <a href="http://www.scm.com">SCM</a>, a spinoff of the Theoretical Chemistry group at the VU in Amsterdam.
                </p></div>
                <h4>Doctorate</h4>
                <div class="science-list">
                    <p> My <a href="http://repository.tudelft.nl/view/ir/uuid%3A5a6b8240-1033-4834-b947-09c54b0f891b/">PhD research</a> was about improved models for electronic transport in single-molecule nanostructures, to understand molecular-electronics experiments at the Kavli Institute of Nanoscience in Delft:
                    <li> work was on quantum transport and quantum chemistry, but also involved quite some HPC parallel algorithm design, and we </li>
                    <li> developed a code for <a href="http://dx.doi.org/10.1021/jp3044225">single-molecule transport</a> modeling, </li>
                    <li> explained some neat <a href="http://dx.doi.org/10.1038/nnano.2013.26">experiments</a>, </li>
                    <li> and established the feasibility of <a href="http://dx.doi.org/10.1063/1.4793259">way cheaper methods</a> you should probably use first. </li>
                    
                    </p>
                </div>
                <h4>Master's</h4>
                <div class="science-list">
                    <p> My MSc research developed numerical algorithms aware of the dynamical structure in the equations governing satellite orbits, in order to provide more accurate simulation of trajectories:
                    <li>Astrodynamics angle: <a href="http://repository.tudelft.nl/view/ir/uuid%3A922fcd8d-bd5a-446a-ad27-6827e3aeba1d/"> Numerically-conservative integration in N-body problems</a> </li>
                    <li>Applied Math angle: <a href="http://repository.tudelft.nl/view/ir/uuid%3Adacac69b-b5f8-4216-a143-825a0e3bc2ea/"> Approximations to 1st Integrals in N-body problems</a> </li>
                    </p>
                </div>
                <h3>Languages</h3>
                <div class="science-list">
                    <p>In an academic context I've worked in:
                    <li> Matlab, a bit of Python, and</li>
                    <li> a lot of Fortran 90/95 (with 77-bindings)</li>
                    </p>
                </div>
            </div>
        </div>
    </section>
