    <!-- Download Section -->
    <section id="projects1" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <h2>Academic Projects</h2>
                <h4>Post-Doctoral</h4>
                <h4>Doctorate</h4>
                <div class="science-list">
                    <p> My doctoral research improved models for electronic transport in single-molecule nanostructures, to understand molecular-electronics experiments at the Kavli Institute of Nanoscience in Delft:
                    <li> work addressed quantum transport, quantum chemistry and parallel algorithm design, with results presented at a number of international conferences, published in the peer-reviewed literature, </li>
                    <li> and released in the commercially available Amsterdam Density Functional quantum-chemistry code. </li>
                    </p>
                </div>
                <h4>Master's</h4>
                <div class="science-list">
                    <p> My Master's research developed numerical algorithms aware of the dynamical structure in the equations governing satellite orbits, in order to provide more accurate simulation of trajectories:
                    <li> test </li>
                    </p>
                </div>
                <h3>Languages</h3>
                <div class="science-list">
                    <p>In an academic context I've worked in:
                    <li> Matlab, a bit of Python, and</li>
                    <li> a lot of Fortran 90/95 (with 77-bindings)</li>
                    </p>
                </div>
            </div>
        </div>
    </section>
